[submodule "map_service2"]
	path = map_service2
	url = https://git.heroku.com/map-service.git
[submodule "api-gateway2"]
	path = api-gateway2
	url = https://git.heroku.com/capstone-api-gateway.git
[submodule "restaurant_service2"]
	path = restaurant_service2
	url = https://git.heroku.com/capstone-restaurant-service.git
[submodule "user_service2"]
	path = user_service2
	url = https://git.heroku.com/test-user-api.git
